.DS_Store
module/nasda-bb4ab-firebase-adminsdk-y6obc-7ea4a11537.json
__pycache__/web.cpython-310.pyc
.gitignore
module/__pycache__/license_gen.cpython-310.pyc
module/__pycache__/iSCSI_module.cpython-310.pyc
static/Thumbs.db
