:root {
  --pageHeight: 1858px;
}

/* main container */

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: var(--pageWidth);
  background-color: #f8f8ff;
}

.container .title_ {
  display: flex;
  height: 350px;
  background-color: #123BCD;
  color: white;
  justify-content: center;
  align-items: center;
}

.title_ p {
  margin-bottom: 0px;
  font-size: 57px;
  font-weight: 700;
}

.container .blank_ {
  display: flex;
  height: 600px;
  background-color: #f8f8ff;
  justify-content: center;
  align-items: center;
}

/* price-content-container */

.price-content-container {
  display: flex;
  justify-content: center;
  height: 200 px;
}

.price-content-container .pricing {
  width: 844px;
  height: 65px;
  background-color: #E4E4E4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 40px;
  display: flex;
}

*:focus {
  outline: none;
}

.license_box {
  margin-top: 13px;
  background-color: #E4E4E4;
  color: black;
  font-size: 20px;
  font-weight: 100;
  border: 0px;
  height: 40px;
  width: 770px;
  margin-left: 30px;
}

.license_submit {
  color: white;
  width: 137px;
  height: 65px;
  font-size: 20px;
  font-weight: 600;
  outline: 0;
  border: 0;
  border-radius: 30px;
  margin-left: 27px;
  margin-top: 40px;
  background-color: #2454FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.license_submit:hover {
  background-color: #1c4aef;
}

/* informaton container */
.information-container {
  display: none;
  align-items: center;
  text-align: center;
  margin-top: 63px;
  height: 400px;
}

.information-container-l {
  margin-left: 50px;
  vertical-align:top;
  display: flex;
  width: 500px;
} 

.information-container-r {
  margin-left: 50px;
  vertical-align:top;
  display: flex;
  width: 600px;

}

.information-container-c {
  vertical-align:top;
  margin-top: 20px;
  justify-content: center;
  width: 0.7px;

}

.info_title {
  display: block;
  margin-top: 25px;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: #4D6EE4;
}

.info_ldesc {
  display: block;
  margin-top: 5px;
  text-align: left;
  font-weight: 700;
  font-size: 35px;
  color: #1F2331;
  white-space: nowrap;
}

.info_rtitle {
  display: block;
  margin-top: -8px;
  text-align: left;
  font-weight: 600;
  font-size: 27px;
  color: #69718F;
}

.info_rdesc {
  margin-left: 1em; 
  font-weight: 700;
  font-size: 35px;
  color: #1F2331;
}

.information-container-c .center_line {
  display: block;
  height: 250px;
  border: 0;
  border-left: 0.7px solid #50596E;
  margin: 2em 0;
  padding: 0;
}

/* Loading Animation */
.lds-ripple {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #69718F;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.container .blank_ {
  display: flex;
  height: 160px;
  background-color: #f8f8ff;
  justify-content: center;
  align-items: center;
}

.container .blank_ p {
  color: #1f2745;
  font-size: 35px;
  font-weight: 300;
}