<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta content="nasda." property="og:title" />
    <meta content="//www.nasda.kr" property="og:url" />
    <meta content="더 쉬워진 클라우드" property="og:description" />
    <meta content="{{ url_for('static',filename='ogimage.png') }}" property="og:image" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/common.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/license_page.css') }}" />
    <title>nasda.</title>
  </head>
  <body>
    <header class="top-nav">
      <div class="nasda-easy-cloud">
        <span class="nasda" onclick="location.href='http://www.nasda.kr/'">nasda.</span>
        <span class="line"></span>
        <span class="easier-cloud">더 쉬워진 클라우드</span>
      </div>
      <div class="pricing-and-etc">
        <button onclick="location.href='http://www.nasda.kr/pricing'">가격 보러가기</button>
        <button id="faq_btn">FAQ</button>
        <button onclick="location.href='http://www.nasda.kr/license'">구매내역 조회</button>
      </div>
    </header>
    <div class="container">
      <div class="title_">
        <p>구매 내역 조회</p>
      </div>
      <div class="price-content-container">
        <div class="pricing">
          <input class="license_box" style="text-transform:uppercase" type="text" maxlength="29" placeholder="여기에 라이센스 코드를 입력해주세요.">
        </div>
        <button class="license_submit" onclick="api_license()">조회</button>
      </div>
      <div class="information-container" id="main_container">
        <div class="information-container-l" style="display: inline-block;">
          <span class="info_title">서비스 이용 기한</span>
          <span class="info_ldesc" id="c_date">2022-09-01 까지</span>
          <span class="info_title">신청 서비스</span>
          <span class="info_ldesc" id="c_svc">10GB (iSCSI)</span>
          <span class="info_title">트래픽 사용량 (매월 초기화)</span>
          <span class="info_ldesc" id="c_traffic">20.4GB / 1TB</span>
        </div>
        <div class="information-container-c" style="display: inline-block;">
          <span class="center_line"></span>
        </div>
        <div class="information-container-r" style="display: inline-block;">
          <span class="info_title" style="margin-bottom: 23px;">인증정보</span>
          <p class="info_rtitle">서버<span class="info_rdesc" id="c_srv">iscsi.nasda.kr</span></p>
          <p class="info_rtitle">CHOP ID<span class="info_rdesc" id="c_chopid">nsda52913</span></p>
          <p class="info_rtitle">CHOP PW<span class="info_rdesc" id="c_choppw">*************</span></p>
          <p class="info_rtitle">개시자 이름<span class="info_rdesc" id="c_init">***************</span></p>
        </div>
      </div>
      <div class="blank_">
        <div class="lds-ripple"><div></div><div></div></div>
      </div>
    </div>
      <footer>
        <div class="nasda-easy-cloud">
          <span class="nasda">nasda.</span>
          <span class="line"></span>
          <span>더 쉬워진 클라우드</span>
        </div>
      </footer>
    </div>
  </body>
  <script>
    document.querySelector('.license_box').addEventListener('input', function(e) {
      var foo = this.value.split("-").join("");
      if (foo.length > 0) {
        foo = foo.match(new RegExp('.{1,5}', 'g')).join("-");
      }
      this.value = foo;
    });
  </script>
  <script>
    function api_license() {
      document.getElementsByClassName('lds-ripple')[0].style.display = 'inline-block'
      let response = fetch('http://www.nasda.kr/api/license/' + document.querySelector('.license_box').value)
            .then(res => {
      	  return res.json()
            })
      .catch(reason => {
            document.getElementsByClassName('lds-ripple')[0].style.display = 'none'
      	   console.log('reason >>', reason)
            })
      .then(data => {
        if (data.isTrue == 1) {
          document.getElementById("c_date").textContent = data.ServiceExpirationDate
          if (data.ServiceType == 1) {
            document.getElementById("c_svc").textContent = data.ServiceSize + "GB (iSCSI)"
          }
          document.getElementById("c_traffic").textContent = "준비중"
          document.getElementById("c_srv").textContent = data.AuthServer
          document.getElementById("c_srv").textContent = data.AuthServer
          document.getElementById("c_chopid").textContent = data.AuthChopID
          document.getElementById("c_choppw").textContent = data.AuthChopPW
          document.getElementById("c_init").textContent = data.InitiatorName
          document.getElementById('main_container').style.display= 'block';
          document.getElementsByClassName('lds-ripple')[0].style.display = 'none'
        } else if (data.isTrue == 0) {
          document.getElementsByClassName('lds-ripple')[0].style.display = 'none'
      	  console.log( "isTrue = 0")
          console.log(data)
        } else if (data.isTrue == 2) {
          document.getElementsByClassName('lds-ripple')[0].style.display = 'none'
      	  console.log("isTrue = 2 서버 생성 중")
          console.log(data)
        }
	    
      })
    }
  </script>
</html>
